@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Work+Sans:wght@900&display=swap");

:root {
  --background-color: #dcdce5;
  --text-color: #1c1b22;
  --primary: #641e85;
  --secondary: #ff6978;
  --border-radius: 0.25rem;
}
*:focus {
  box-shadow: 0 0 0 3px var(--background-color), 0 0 0 0.35rem var(--secondary);
  outline: none;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  text-align: left;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1,
h2,
h3 {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.7rem;
}

button {
  border: 0.1rem solid var(--primary);
  padding: 0.5rem;
  color: var(--background-color);
  background-color: var(--primary);
  border-radius: var(--border-radius);
  transition: all 150ms ease-out;
}

img {
  width: 50vw;
  max-width: 20rem;
}

input {
  background-color: var(--background-color);
  border: 0.1rem solid var(--primary);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  transition: all 150ms ease-out;
}

form > fieldset {
  padding-bottom: 1rem;
  border: none;
}

form > fieldset > label {
  display: flex;
  flex-direction: column;
}

.dashboard-teams {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
}

.dashboard-task-cards {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.task-card {
  border-radius: var(--border-radius);
  border: 0.1rem solid var(--primary);
  padding: 0.5rem;
}

/* Copied from https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  position: absolute;
  margin-top: 30%;
  color: var(--primary);
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

.hide {
  display: none;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
